.Body {
    margin: 50px;
}

.position {
    position: relative;
}

.actions {
    position: absolute;
    top: 5px;
    right: 10px;
}

.dop {
    top: 10px;
}

.btn {
    margin: 0 5px;
}

.cellId {
    width: 25%;
}

.margin {
    margin: 20px;
}

.input-width {
    width: 50%;
    margin: auto;
}